<div class="main_header">
  <div class="chat_outline"><%= @room.name %></div>
  <div class="chat_end"><a href="#">チャットを終了する</a></div>
</div> 

<div class="chat_space">
  <%= render partial: "message", collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: "message", local: true do |f| %>
  <div class="comment">
   <%= f.text_field :content, class: "comment_sentence" , placeholder: "type a message" %>
    <lavel class="comment_image" >
    <span class="image_file">画像</span>
     <%= f.file_field :immage, class: "hidden" %>
    </lavel>
   </div>
   <%= f.submit "送信", class:"submit_btn" %>
<% end %>