<div class="main_header">
  <div class="chat_outline"><%= @room.name %></div>
  <div class="chat_end">
   <%= link_to "チャットを終了する" , room_path(@room) ,method: :delete %>
  </div>
</div> 

<div class="chat_space">
  <%= render partial: "message", collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: "message", local: true do |f| %>
  <div class="comment">
   <%= f.text_field :content, class: "comment_sentence" , placeholder: "type a message" %>
    <label class="comment_image" >
    <span class="image_file">画像</span>
     <%= f.file_field :image, class: "hidden" %>
    </label>
   </div>
   <%= f.submit "送信", class:"submit_btn" %>
<% end %>